.navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

.logo {
    width: 128px;
    height: 40px;
    background: var(--border-color);
}

.link {
    text-decoration: none;
    color: var(--link-default-color);    /* Set the default link color to yellow */
    margin: 0 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* Font styling */
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
}

.link:hover {
    color: var(--link-active-color);
    /* Change link color to green on hover */
    border-bottom: 4px solid transparent;
    border-image-source: linear-gradient(125.78deg, #1C786D 15.57%, #00B57C 85.58%);
    border-image-slice: 1;
}

.profile {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border-color);
    display: flex;flex-direction:row;

    .avatar {
        width: 24px;
        height: 24px;

        padding: 8px;
    }
    .expand-icon {
        border: 1px solid #000F00;
        width: 24px;
        height: 24px;

        padding: 8px;
    }
}