.weekly-view {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.day-header-container {
    background: var(--border-color);
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-around;

}